body {
    background-color: #ab8b6a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2b1a0bc9;
    color: #fff;
    padding: 8px 0;
}

title {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav .nav-item {
    font-family: 'Calibri';
    margin-right: 140px; /* відстань від кнопок */
    padding: 10px 20px; /* розмір background */
}

nav .nav-item a {
    font-size: 18px; /* Збільшення розміру шрифту для тексту кнопок */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.logo img {/* параметри логотипу */
    display: block;
    margin: 0 auto;
    width: 150px;
}

main {
    text-align: center;
}

.hero {
    background-color: #b7946f;
    background-image: url('https://s1.ticketm.net/dam/a/16b/54be164f-49f9-4fc2-b0a9-5e7d3833f16b_1439751_TABLET_LANDSCAPE_LARGE_16_9.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 225px 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px; /* Розмір шрифту */
    color: #2b1a0b; /* Колір тексту */
    background-color: #fff8f2; /* Колір фону */
    padding: 10px 20px; /* Відступи в тексті */
    display: inline-block; /* Встановлення блока */
    border: 1px solid #e6e6e6; /* Границя */
    border-radius: 4px; /* Закруглені кути */
    margin-bottom: 20px; /* Відступ вниз */
    text-align: left; /* Додавання вирівнювання тексту */
}

p {
    font-size: 24px;
    margin-bottom: 40px;
}

footer {
    background-color: #2b1a0bc9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Стилі для блока "Biography" */
#biography {
    color: #fff; /* колір тексту */
}

li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd; /* Додавання бордеру між пунктами */
    padding-bottom: 15px; /* Відступ знизу для кращого вигляду */
}

li q {
    font-style: italic;
    text-align: right;
}


/* Стилі для блока "Music" */
.music-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.music-item {
    flex-basis: calc(33.33% - 20px); /* Розмір одного блоку музики */
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.music-item img {
    max-width: 100%;
    height: auto;
}

.music-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.music-item p {
    font-size: 14px;
    margin-top: 10px;
}

.music-item a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Колір кнопки */
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.music-item a:hover {
    background-color: #333; /* Колір кнопки при наведенні */
}


/* Стилі для блока "Photo" */

.photo-style img{
    max-width: 60%;
    height: auto;
}

/* Стилі для блока "Awards" */
#awards table {
    width: 80%; 
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #c1a17f; 
    overflow-x: auto; 
    margin-left: auto; /* Центруємо таблицю від лівого краю */
    margin-right: auto; /* Центруємо таблицю від правого краю */
}


#awards th, #awards td {
    border: 2px solid #000; 
    padding: 8px;
    text-align: left;
}

#awards th {
    font-weight: bold;
}

#awards tbody tr:nth-child(even) {
    background-color: transparent; 
}

#awards tbody tr:hover {
    background-color: transparent; 
}